body {
    margin-top: 100px;
    font-family: 'Dosis', sans-serif;
}


ul {
    list-style-type: none;
    padding-left: 0px;
}


ul.social-media li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
ul li {
    display: inline;
}
nav .row {
    text-align: center;
}

img:hover{
    -moz-box-shadow: 0 0 10px #9b9b9b;
    -webkit-box-shadow: 0 0 10px #9b9b9b; 
    box-shadow: 0 0 10px #9b9b9b;
}

footer{
    margin-bottom: 30px;
    
}
@media (min-width: 1024px) {
    .header-right {
        display: table-cell;
        height: 100px;
        vertical-align: middle;
        float: right;
        padding-top: 60px;
    }
    
    header a {
    color: #444444;
    font-size: 25px;
    }
    .li-nav {
    border-bottom-style: inset;
    border-bottom-color: #ef6d6a;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    }


    .img-responsive{
        width: 375px;
        margin-top: 70px;
        }
    .leftimg{
        float: right;
    }
    .rightimg{
        margin-left: 11px;
    }
    
    footer { 
        font-family: 'Dosis', sans-serif;
        margin-top: 86px;
   }
}
@media (max-width: 1024px) {
    .logo {
        text-align: center;
        margin: 20px 0;
    }
    
    header a {
    color: #444444;
    font-size: 50px;
    }
    
    .li-nav {
    border-bottom-style: inset;
    border-bottom-color: #ef6d6a;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    }
    .rightimg{
        margin-top: 0px;
    }
    .leftimgP{
        margin-bottom: 0;
    }
    
    .header-right {
        display: block;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    footer { 
        font-family: 'Dosis', sans-serif;
        margin-top: 30px;
   }
    .img-responsive{
        margin-top: 70px;
    }
}

